
body {
  background-color:  black;
  font-family: barlow;
  height: 100vh;
  width: 100vw;
  cursor: url('cursor.cur'), auto;
}



.buttons {
  display:  flex;
  flex-direction:  row;
  justify-content: space-between;
  align-items: flex-start;
  height:  90px;
  margin-left: 20px;
  margin-right: 20px;
}

/*button setup*/ 
.button {
  margin-top: 20px;
  padding: 20px 45px;
  border-radius: 30px;
  background-color:  white;
  color:  black;
  font-size:  60px;
  font-size: 20px;
  text-align:  center;
  transition:  all 100ms;
}

.button:hover {
  background-color: #DEB887;
  cursor: url('cursor.cur'), auto;
}

.button-2 {
  margin-top: 20px;
  padding: 20px 40px;
  border-radius: 30px;
  background-color:  white;
  color:  black;
  font-size:  60px;
  font-size: 20px;
  text-align:  center;
  transition:  all 100ms;
}

.button-2:hover {
  background-color: #DEB887;
 cursor: url('cursor.cur'), auto;
}

/*SVG setup*/

.poptart{
  display: flex;
  justify-content: center;
  height: 600px;
  margin-right: 100vh;
}

#base{
  height: 700px;
  position: absolute;
  z-index: 0;
}


.icing{
  height: 700px;
  position: absolute;
  z-index: 1;
}

#mouth{
  height: 700px;
  position: absolute;
  z-index: 2;
}

.bite{
  height: 700px;
  position: absolute;
  z-index: 3;
  bottom: 5px;
}

.eyes{
 position: absolute;
 top: 40%;
 transform: translate(-30%);
 width: 100%;
 z-index: 2;
 text-align: center;
 margin-left: 105%;
}

.eye{
  width: 70px;
  height: 70px;
  background-color: white;
  display: inline-flex;
  margin-left: 50px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.ball{
  width: 40px;
  height: 40px;
  background:#1c1c1c;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  /*z-index: 3;*/
}

/*change bite opacity*/ 
.hide {
  opacity: 0;
}

.eat{
  opacity: 1;
}

/*change svg color*/ 

.strawberry {
  fill: #fcb4c5;
}

.blue {
  fill: #6e8cf0;
}

