body{
	font-family: 'Barlow', sans-serif;
	background-color: darkslategray;
	color: whitesmoke;
	text-align: center;
	padding: 200px;
	cursor: url('cursor.cur'), auto;
}

.navigation{
	font-size: 30px;
}


a:link{
	color: whitesmoke;
}

a:active{
	color: greenyellow;
}

a:visited{
	color: lightgrey;
}


.nav1{
	padding-top: 20px;
	padding-bottom: 20px;
}

.nav2{
	padding-bottom: 20px;
}