body {
	font-family: futura;
	background-color: #192a2a;
	color: whitesmoke;
	text-align: center;
	padding: 100px;
}

body:hover{
	cursor: url("cursor.png"), auto;
}

h1{
	text-align: right;
}

h1:hover{
	color: yellow;
	cursor: none;
}

.step-1{
	height: 200px;
}

.step-1:hover{
	background-image: url(https://www.seekpng.com/png/full/17-175381_steam-smoke-png-white-steam-png-transparent.png);
	position: relative;
	background-position: 400px 0px;
	background-repeat: no-repeat;
	object-fit: contain;
	background-size: 30%;
}

