body{
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	font-family: 'Barlow', sans-serif;
	background-color: darkslategray;
	color: whitesmoke;
	text-align: center;
	cursor: url('cursor.cur'), auto;
	animation: colorshift 3.7s infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
	-webkit-user-select: none;
        -webkit-touch-callout: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

}

/*moblie*/
@media only screen and (max-width: 768px) {
 { overflow: auto;
    
  }
}

@media only screen and (max-width: 768px) .projects {
 { opacity: 100%;
    
  }
}

/*cursor setup*/

h1: hover{
	color: greenyellow;
}

a {
	text-decoration: none;
}

a:link{
	color: whitesmoke;
}

a:active{
	color: greenyellow;
	transform: skewX(-10deg);
}

a:visited{
	color: lightgrey;
}

a:hover{
	cursor: url('cursor3.cur'), auto;
	transform: skewX(-10deg);
	color: greenyellow;
	/*filter: blur(0.9px);*/
}

/*title*/
h1{
	font-size: 5vh;
	text-align: left;
	margin-left: 1vw;
	animation: textenter 3s;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}

.tip{
	font-size: 1.8vh;
	color: darkseagreen;
	animation: textenter 3s;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	margin-top: 10vh;
	margin-right: 25vh;
}

h1:hover{
	transform: skewX(10deg);
	filter: blur(0.9px);
}

/*layout setup*/
.wrapper{
	display:flex;
	flex-direction:row;
	height: 100vh;
	width: 100vw;
}
.container{
	width: 30vw;
	display: flex;
	flex-direction: column;
}

.display{
	display: flex;
	flex-direction: row;
}

.navigation{
	font-size: 4vh;
	text-align: left;
	margin-left: 1vw;
}

.viewer{
	width: 10vw;
	/*margin-right: 5vw*/;
}

/*design*/

.projects{
	opacity: 0%;
	animation: textenter 3s;
	animation-delay: 0.5s;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	color: #043b2d;
}

.projects:hover{
	transform: skewX(10deg);
	color: whitesmoke;
	filter: blur(0.9px);
}

.projects-list{
	text-align: left;
	font-size: 3.5vh;
}

.exercises{
	opacity: 0%;
	animation: textenter 3s;
	animation-delay: 2.5s;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	color: #043b2d;
}

.exercises:hover{
	transform: skewX(10deg);
	color: whitesmoke;
	filter: blur(0.9px);
}


.exercises-list{
	ext-align: left;
	font-size: 3.5vh;
}

#display-frame{
	width: 65vw;
	height: 80vh;
	margin-right: 5vw;
	margin-top: 5.5vh;
	animation: textenter 2s;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	filter: drop-shadow(30px 20px 10px #0e1c12);
}

#interview{
	opacity: 0%;
	animation: textenter 3s;
	animation-delay: 0.9s;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	margin: 1vh;
}

.interview-desc{
	display: none;
	font-family: monospace;
	font-size: 2vh;
}

#interview:hover + .interview-desc{
	display: block;
	margin: 0;
}

#wiki{
	opacity: 0%;
	animation: textenter 3s;
	animation-delay: 1.5s;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	margin: 1vh;
}

.wiki-desc{
	display: none;
	font-family: monospace;
	font-size: 2vh;
}

#wiki:hover + .wiki-desc{
	display: block;
	margin: 0;
}


#rock-garden{
	opacity: 0%;
	animation: textenter 3s;
	animation-delay: 2s;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	margin: 1vh;
}

.rg-desc{
	display: none;
	font-family: monospace;
	font-size: 2vh;
}

#rock-garden:hover + .rg-desc{
	display: block;
	margin: 0;
}


#hover{
	opacity: 0%;
	animation: textenter 3s;
	animation-delay: 3.5s;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	margin: 1vh;
}

.hover-desc{
	display: none;
	font-family: monospace;
	font-size: 2vh;
}

#hover:hover + .hover-desc{
	display: block;
	margin: 0;
}

#code-life{
	opacity: 0%;
	animation: textenter 3s;
	animation-delay: 4.0s;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	margin: 1vh;
}

.life-desc{
	display: none;
	font-family: monospace;
	font-size: 2vh;
}

#code-life:hover + .life-desc{
	display: block;
	margin: 0;
}

#css-animation{
	opacity: 0%;
	animation: textenter 3s;
	animation-delay: 4.5s;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	margin: 1vh;
}

.css-desc{
	display: none;
	font-family: monospace;
	font-size: 2vh;
}

#css-animation:hover + .css-desc{
	display: block;
	margin: 0;
}

#javascript-sketch{
	opacity: 0%;
	animation: textenter 3s;
	animation-delay: 5.0s;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	margin: 1vh;
}

.js-desc{
	display: none;
	font-family: monospace;
	font-size: 2vh;
}

#javascript-sketch:hover + .js-desc{
	display: block;
}


#p5{
	opacity: 0%;
	animation: textenter 3s;
	animation-delay: 5.5s;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	margin: 1vh;
}

.p5-desc{
	display: none;
	font-family: monospace;
	font-size: 2vh;
}

#p5:hover + .p5-desc{
	display: block;
}
/*back control*/
.backwrap{
  width: 4vw;
  z-index: 10;
}

.back {
width: 4vw;
text-align: left;
margin-top: 10vh;
margin-left: 5vw;
}

#door {
	filter: invert(1);
	height: 6vh;
	transition-timing-function: ease-in-out, 2s;
	animation: textenter 3s;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	margin: 1vh;
}

#door:hover {
	transform: scale(1.3);
}

.back:hover{
  cursor: url('../assets/cursor2.cur'), auto;
}

#link :hover{
  cursor: url('../assets/cursor2.cur'), auto;
}

/*animations*/
@keyframes colorshift {

	from {background-color: #2F4F4F; 
 	;}

	to {background-color: #47919e; }
 }

@keyframes textenter{
 	from{opacity: 0%;}
 	to{opacity: 100%;}
}

@keyframes shadowShift{
	from{filter: drop-shadow(30px 20px 10px #0e1c12);}
	to{filter: drop-shadow(30px 20px 10px #4e7a5b);}
}
