
body {
  background-color:  black;
  cursor: none;
  overflow: hidden;
  -ms-overflow-style: none;  
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

/*eyes*/

.eyes{
  position: absolute;
  align-items: center; 
  transform: translate(15%, -500%);
  z-index: 2;
}

.eye{
  width: 50px;
  height: 50px;
  background-color: white;
  display: inline-flex;
  margin-left: 50px;
  border-radius: 50%;
  position: relative;
  top: 10%;
}

.ball{
  width: 25px;
  height: 25px;
  background:#1c1c1c;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
}

/*heads*/

.head{
  position: absolute;
  transition: transform 2s ease;
  margin-left: 40vw;
  bottom: 20vh;
  z-index: 1;
}

.head:hover{
 transform: scale(1.1);
 cursor: url('../../assets/cursor1.cur'),auto;
}

/*volume setup*/
.sound{
  position: fixed;
  margin-left: 80vw;
  margin-top: 80vh;
  transition: transform 1s ease;

}

.sound:hover {
  transform:  scale(1.1);
  cursor: url('../../assets/cursor.cur'), auto;
}

/*nav back*/
.backwrap{
  height: 100vh;
  width: 10vw;
  margin-right: 90vw;
  z-index: 10;
}

.back{
  height: 100vh;
  width: 10vw; 
}

.backwrap:hover{
    cursor: url('../../assets/cursor2.cur'), auto;
}

a :hover{
  cursor: url('../../assets/cursor2.cur'), auto;
}


/*text*/
.text{
  text-align: justify;
  position: absolute;
  width: 100vw;
  font-family: monospace;
  color: white;
  z-index: 0;
  bottom: 20vh;
  font-size: 46px;
  filter: blur(6px);
}

.text:hover{
  filter: blur(2px);
  filter: invert(50%);
}



