body {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	font-family: 'Barlow', sans-serif;
	background-color: darkslategray;
	color: whitesmoke;
	text-align: center;
	cursor: url('cursor.cur'), auto;
	animation: farewell 3.7s;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
	-webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container{
	padding: 15vh;
	display: flex;
	flex-direction: column;
}

h1 {
	font-size: 3vw;
}

p {
	margin-top: 4%;
}

/*switch images*/

.eyes-open{
	position: relative;
	width: 20vw;
}

.eyes-closed{
	position: absolute;
	width: 20vw;
	right: 39.4vw;
	opacity: 0%;
	z-index: 2;
	animation: sleep 3.7s;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
}


@keyframes sleep{
	from {opacity: 0%;}
	to {opacity: 100%;}
}


a:hover{
	cursor: url('cursor.cur'),auto;
}

@keyframes farewell {

from {background-color: #2F4F4F; 
 	;}

to {background-color: black; color: black;}
 }	

}
